# Example environment variables for docker-compose
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password

PORT=5002
DATABASE_URL=postgres://user:password@db:5432/your_database_name
JWT_SECRET=your_jwt_secret
REFRESH_TOKEN_SECRET=your_refresh_secret
FRONTEND_URL=http://localhost:3000
MAX_BLOG_IMAGE_BYTES=10485760
NODE_ENV=development

NEXT_PUBLIC_API_BASE_URL=http://localhost:5002/api
